@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1731.5000000000007px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 40px;
}

#pu19992
{
	width: 0.01px;
	position: relative;
}

#u19992
{
	z-index: 2;
	width: 1024px;
	border-color: #000000;
	background-color: #505956;
	position: relative;
	margin-right: -10000px;
}

#u19993-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 88px;
}

#u19996
{
	z-index: 9;
	width: 96px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 927px;
}

#u19996_clip
{
	overflow: hidden;
	width: 96px;
	height: 80px;
}

#u19996_img
{
	margin-left: -4px;
}

#u19994
{
	z-index: 7;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 30px;
}

#u19998
{
	z-index: 11;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 862px;
}

#u20000
{
	z-index: 13;
	width: 102px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 841px;
}

#u20001
{
	z-index: 14;
	width: 102px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u20002-4
{
	z-index: 15;
	width: 90px;
	min-height: 33px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 10px;
}

#u23155
{
	z-index: 73;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	left: 933px;
}

#u23156
{
	z-index: 74;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u23157-4
{
	z-index: 75;
	width: 83px;
	min-height: 33px;
	font-size: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 8px;
}

#u20002-2,#u23157-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#u21211
{
	z-index: 19;
	width: 1024px;
	border-color: #000000;
	background-color: #EFF0F0;
	padding-bottom: 30px;
	position: relative;
	top: -1px;
	margin-bottom: -1px;
}

#u21089-9
{
	z-index: 40;
	width: 216px;
	min-height: 148px;
	text-align: left;
	line-height: 1;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 35px;
}

#u21089-4
{
	font-size: 13px;
	padding-bottom: 6px;
	color: #3E3E3E;
}

#u21089-2
{
	color: #3E3E3E;
}

#u21089-7
{
	font-size: 15px;
}

#u21089-6
{
	font-weight: bold;
}

#u21083
{
	z-index: 20;
	width: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 281px;
}

#u21083_clip
{
	overflow: hidden;
	width: 298px;
	height: 218px;
}

#u21083_img
{
	margin-right: -2px;
	margin-bottom: -9px;
}

#u21084-18
{
	z-index: 22;
	width: 382px;
	min-height: 204px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 609px;
}

#u21084-2
{
	font-size: 45px;
	line-height: 1.1;
	letter-spacing: -1px;
	color: #050505;
	font-weight: bold;
}

#u21084-6
{
	font-size: 15px;
	padding-top: 12px;
	color: #3E3E3E;
}

#u21084-8
{
	font-size: 15px;
	color: #3E3E3E;
}

#u21084-16
{
	font-size: 17px;
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u21084-16  span,#u21084-16  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.5;
}

#u21084-11,#u21084-15
{
	font-size: 13px;
	color: #3E3E3E;
}

#ppu21093-4
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 31px;
	position: relative;
}

#pu21093-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u21093-4
{
	z-index: 59;
	width: 164px;
	min-height: 35px;
	font-size: 20px;
	line-height: 1.5;
	text-align: left;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u21090
{
	z-index: 69;
	width: 164px;
	height: 6px;
	border-color: #000000;
	background-color: #505956;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u21085-10
{
	z-index: 49;
	width: 626px;
	min-height: 410px;
	line-height: 1.5;
	text-align: left;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u21085-2
{
	font-size: 20px;
	font-weight: bold;
}

#u21085-3,#u21085-5,#u21085-6,#u21085-8
{
	font-size: 19px;
}

#ppu21100-6
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 47px;
	position: relative;
}

#pu21100-6
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u21100-6
{
	z-index: 63;
	width: 164px;
	min-height: 49px;
	font-size: 20px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u21101
{
	z-index: 70;
	width: 164px;
	height: 6px;
	border-color: #000000;
	background-color: #505956;
	margin-top: 6px;
	position: relative;
}

#u21373
{
	z-index: 71;
	width: 626px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 246px;
}

